@charset "utf-8";
/* CSS Document */
p {
	color: indigo;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	line-height: 20px;
	width: 600px;
	background-color: cornflowerblue;
	padding: 20px;
}

h1, h2, h3{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: darkorchid;
	background-color: midnightblue;
	padding: 10px;
	width: 600px
}

span{color: rgba(3,53,150,1.00)}
body{
	background-image: url("multimedija/bcg.jpg")
}

a:link{
	color:aqua;
	background-color:midnightblue;
	padding: 2px;
}

a:hover{
	color:midnightblue;
	background-color:aqua;
	padding: 2px;
}
ul, ol{
	color: indigo;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	line-height: 20px;
	width: 600px;
	background-color: cornflowerblue;
	padding: 20px;
}